
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');


body {
    max-width: 390px;
    background: lightgreen;
    font-family: "Google Sans", sans-serif;
    text-align: center;
}

img {
    width: 300px;
}